body {
    background-color: rosybrown;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .container {
    width: 95%;
    display: block;
  }
  p {
    font-size: 20px;
    justify-content: space-around;
    margin: 10px 10px;
    text-align: justify;
    padding: 0 10px;
  }

  .top_block {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 75px;
    font-weight: bolder;
    margin: 0px 30px;
    padding-top: 150px;
  }

  h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 30px;
    padding-top: 0px;
  }

  .image_block {
    border: 10px double black;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    overflow: hidden;
    background: url("https://static.businessworld.in/article/article_extra_large_image/1641809973_4MHh00_vivekananda_.jpg");
    background-size: cover;
    background-position: center;
  }
  .content {
    font-size: 15px;
    text-justify: auto;
  }
  .quotes p {
    font-size: 20px;
  }
  .read_more a {
    font-size: 15px;
  }
  @media only screen and (max-width: 550px) {
    h1 {
    font-size: 20px;
    margin: 2px;
    padding: 5px;
  }
  h3 {
    font-size: 10px;
    margin: 2px;
    padding: 5px;
  }
    .top_block {
    display: block;
  }
    .image_block {
      width: 5em;
      height: 5em;
    }
    
  }
  @media only screen and (min-width: 551px) and (max-width: 700px) {
    h1 {
      font-size: 30px;
      font-weight: bolder;
      margin: 0;
      padding-top: 50px;
    }

    h3 {
      font-size: 15px;
      font-weight: bold;
      margin: 0;
      padding-top: 5px;
    }
    .image_block {
      width: 10em;
      height: 10em;
    }
    .content {
      font-size: 15px;
      text-justify: auto;
    }
    .quotes p {
      font-size: 10px;
    }
    .read_more a {
      font-size: 10px;
    }
    p {
      font-size: 15px;
    }
  }
  @media only screen and (min-width: 701px) and (max-width: 1100px) {
    h1 {
      font-size: 40px;
      font-weight: bolder;
      margin: 0;
      padding-top: 100px;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding-top: 0px;
    }
    .image_block {
      width: 20em;
      height: 20em;
    }
    .content {
      font-size: 15px;
      text-justify: auto;
    }
    .quotes p {
      font-size: 20px;
    }
    .read_more a {
      font-size: 15px;
    }
  }
  @media only screen and (min-width: 1700px) {
    h1 {
      font-size: 120px;
      padding-top: 20px;
    }

    h3 {
      font-size: 80px;
    }
    .image_block {
      width: 30em;
      height: 30em;
    }
    .content {
      font-size: 15px;
      text-justify: auto;
    }
    .quotes p {
      font-size: 50px;
    }
    .read_more a {
      font-size: 40px;
    }
    .read_more {
      font-size: 40px;
    }
    .content {
      font-size: 50px;
    }
    p {
      font-size: 50px;
      padding: 0 10px;
    }
  }